
/* 3.2 wpo-collection-section */

.wpo-collection-section {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }
}

.collection-wrap {
    .collection-item {
        margin-bottom: 30px;

        .images {

            img {
                width: 100%;
            }
        }

        .content {
            border: 1px solid #F4E8DA;
            border-top: transparent;
            padding-top: 36px;
            padding-left: 40px;
            padding-right: 80px;
            padding-bottom: 60px;
            position: relative;

            @media (max-width:1199px) {
                padding-right: 30px;
                padding-left: 30px;
            }

            @media (max-width:767px) {
                padding-right: 20px;
                padding-left: 20px;
            }

            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                width: 30px;
                height: 30px;
                background: #F4E8DA;
            }

            h2 {
                a {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 38px;
                    text-transform: uppercase;
                    color: $heading-color;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #84857E;
                margin-bottom: 35px;
            }

            .theme-btn {
                background: #F5F2EA;
                color: #BA9659;

                &:hover {
                    background: transparent;
                }
            }
        }
    }

    .col {

        &:first-child {
            .collection-item {
                margin-right: 25px;

                @media (max-width:1199px) {
                    margin-right: 0px;
                }
            }
        }

        &:nth-child(2) {
            .collection-item {
                margin-left: 12px;
                margin-right: 12px;

                @media (max-width:1199px) {
                    margin-right: 0px;
                    margin-left: 0px;
                }

                .content {
                    border-top: 1px solid #F4E8DA;
                    border-bottom: 1px solid transparent;

                    &::before {
                        bottom: auto;
                        top: 0;
                    }



                }
            }
        }

        &:nth-child(3) {
            .collection-item {
                margin-left: 25px;

                @media (max-width:1199px) {
                    margin-left: 0px;
                }
            }
        }
    }
}

/* 3.3 wpo-new-arrival-section */
.wpo-new-arrival-section,
.wpo-new-arrival-section-s2 {
    background: #F5F2EA;
    position: relative;
    z-index: 1;
    padding-bottom: 350px;

    @media (max-width:991px) {
        padding-bottom: 90px;
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .left-shape {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 244px;
        height: 334px;
        background: $white;
        overflow: hidden;

        @media (max-width:1399px) {
            left: -105px;
        }

        @media (max-width:991px) {
            display: none;
        }

        &::before {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            width: 110px;
            height: 110px;
            background: $dark-gray;
            border-top-left-radius: 250%
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        top: 83px;
        z-index: -1;
        height: 515px;
        width: 515px;
        animation: rotate 4s linear infinite;

        @media (max-width:1799px) {
            height: 400px;
            width: 400px;
            top: 134px;
        }

        @media (max-width:1699px) {
            right: -38px;
        }

        @media (max-width:1599px) {
            height: 300px;
            width: 300px;
            top: 184px;
        }

        @media (max-width:1399px) {
            display: none;
        }
    }


    .wpo-section-title {
        padding-top: 120px;

        @media (max-width:991px) {
            padding-top: 90px;
        }

        @media (max-width:767px) {
            padding-top: 80px;
        }
    }


}

.new-arrival-wrap {
    position: relative;
    z-index: 1;
    margin-top: 80px;

    @media (max-width:767px) {
        margin-top: 0;
    }

    &::before {
        position: absolute;
        left: -60px;
        top: -60px;
        width: 1410px;
        height: 499px;
        content: '';
        background: #F4E8DA;
        z-index: -1;

        @media (max-width:767px) {
            display: none;
        }
    }




    .prodact-item {
        padding: 0 15px;
    }


    .nav-btn-lt {
        position: absolute;
        bottom: -30%;
        left: 35%;
        font-size: 66px;
        color: #626842;
        width: 200px;
        height: 80px;
        transform: rotate(180deg);
        cursor: pointer;
        transition: all .3s ease-in-out;

        @media (max-width:1399px) {
            bottom: -44%;
            left: 30%;
        }

        @media (max-width:991px) {
            display: none;
        }

        &:hover {
            color: $text-light-color;

            &::after {
                left: 40px;
            }
        }

        &::after {
            position: absolute;
            left: 48px;
            top: 41px;
            content: '';
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            border-radius: 100px;
            transform: translateY(-50%);
            z-index: -1;
            transition: all .3s ease-in-out;
        }
    }

    .nav-btn-rt {
        position: absolute;
        left: 50%;
        font-size: 66px;
        color: #626842;
        bottom: -30%;
        width: 200px;
        height: 80px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        @media (max-width:1399px) {
            bottom: -44%;
            left: 52%;
        }

        @media (max-width:991px) {
            display: none;
        }


        &:hover {
            color: $text-light-color;

            &::after {
                left: 40px;
            }
        }

        &::after {
            position: absolute;
            left: 48px;
            top: 41px;
            content: '';
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            border-radius: 100px;
            transform: translateY(-50%);
            z-index: -1;
            transition: all .3s ease-in-out;
        }
    }


    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 20px;
        list-style-type: none;

        li {
            width: 10px;
            height: 10px;
        }

        button {
            display: block;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: $text-light-color;
            text-indent: -9999px;
            width: 10px;
            height: 10px;
        }

        li.slick-active button {
            background-color: $theme-primary-color;
        }

    }

}

.wpo-new-arrival-section-s2 {
    padding-bottom: 240px;
    background: #F5F2EA;

    @media (max-width:1399px) {
        padding-bottom: 280px;
    }

    @media (max-width:991px) {
        padding-bottom: 90px;
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .wpo-section-title {
        padding-top: 0px;

        @media (max-width:991px) {
            padding-top: 0px;
        }

        @media (max-width:767px) {
            padding-top: 0px;
        }
    }


}

/* 3.4 wpo-deal-day-section */
/* wpo-deal-day-section */
.wpo-deal-day-section {
    position: relative;
    z-index: 1;
    margin-top: -90px;

    @media (max-width:991px) {
        margin-top: 0px;
        padding-top: 90px;
    }

    @media (max-width:767px) {
        padding-top: 80px;
    }
}

.deal-day-wrap {
    background: $dark-gray;
    padding: 90px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width:1199px) {
        padding: 30px 20px
    }

    @media (max-width:991px) {
        display: block;
        padding: 40px 30px
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 290px;
        height: 290px;
        content: '';
        background: #5C623D;
        z-index: -1;

        @media (max-width:575px) {
            display: none;
        }
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 316px;
        height: 290px;
        content: '';
        background: #5C623D;
        z-index: -1;

        @media (max-width:1399px) {
            width: 272px;
        }

        @media (max-width:1199px) {
            display: none;
        }

    }



    .left-images {
        width: 400px;
        height: 400px;

        @media (max-width:991px) {
            margin: 0 auto;
        }

        @media (max-width:575px) {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
        }
    }

    .right-content {
        margin-left: 20px;
        width: 510px;
        height: 413px;

        @media (max-width:991px) {
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .title {
            border-bottom: 1px dashed rgb(255, 255, 255, 0.2);

            h2 {
                font-weight: 700;
                font-size: 50px;
                line-height: 67px;
                text-transform: uppercase;
                color: #FFFFFF;

                @media (max-width:767px) {
                    font-size: 40px;
                    line-height: 50px;
                }

                @media (max-width:575px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #F2F2F2;
                margin-bottom: 35px;
            }
        }

        .content {
            margin-top: 38px;
            display: flex;
            justify-content: space-between;

            @media (max-width:991px) {
                display: block;
            }

            .text {
                h3 {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: block;
                    margin-bottom: 25px;

                    @media (max-width:575px) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }

                span {
                    font-family: 'Cinzel';
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 30px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: block;
                    margin-bottom: 50px;

                    @media (max-width:575px) {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }

            .day {
                border: 1px dashed rgb(238, 222, 203, 0.2);
                background: rgb(98 104 68);
                height: 192px;
                width: 180px;
                text-align: center;
                padding-top: 30px;

                @media (max-width:991px) {
                    margin: 0 auto;
                    margin-top: 45px;
                }

                @media (max-width:575px) {
                    height: 150px;
                    width: 180px;
                }

                h1 {
                    font-family: 'Cinzel';
                    font-weight: 700;
                    font-size: 90px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    display: block;

                    @media (max-width:575px) {
                        font-size: 60px;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 32px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: block;
                    margin-top: -20px;

                }
            }
        }


    }
}

/* 3.5 wpo-testimonial-section */
.wpo-testimonial-section,
.wpo-testimonial-section-s2 {

    .wpo-section-title {
        text-align: left;
        margin-right: 50px;

        @media (max-width:1199px) {
            margin-right: 0;
        }

        @media (max-width:991px) {
            text-align: center;
        }

        p {
            margin-right: 100px;

            @media (max-width:991px) {
                margin-right: 0;
            }
        }
    }

    .testimonial-wrap {
        position: relative;
        padding-bottom: 140px;
        border-bottom: 4px solid #F5F2EA;

        @media (max-width:1199px) {
            padding-bottom: 72px;
        }

        @media (max-width:991px) {
            padding-bottom: 0;
            border: transparent;
        }
    }

    .testimonial-slider {
        position: unset;

        @media (max-width:991px) {
            margin-bottom: 40px;
        }

        .item {
            text-align: left;
            margin-left: 120px;

            @media (max-width:1399px) {
                margin-left: 50px;
            }

            @media (max-width:1199px) {
                margin-left: 0px;
            }

            @media (max-width:991px) {
                text-align: center;
            }

            .quote-btn {
                display: flex;
                align-items: center;
                width: 164px;
                justify-content: center;
                margin: 0 auto;

                i {
                    width: 50%;
                    background: #626842;
                    color: $white;
                    display: flex;
                    justify-content: end;
                    border-top-left-radius: 100px;
                    padding-top: 15px;

                    @media (max-width:991px) {
                        padding-top: 10px;
                    }

                    &::before {
                        font-size: 55px;
                        line-height: 65px;

                        @media (max-width:991px) {
                            line-height: 50px;
                        }
                    }
                }

                span {
                    width: 50%;
                    border: 1px solid #EEDECB;
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                    height: 80px;
                    border-left: 0;

                    @media (max-width:991px) {
                        height: 60px;
                    }
                }
            }

            p {
                font-size: 21px;
                font-weight: 400;
                line-height: 40px;
                color: #84857E;
                margin-top: 45px;

                @media (max-width:991px) {
                    margin-top: 30px;
                }
            }

            h2 {
                font-size: 22px;
                font-weight: 700;
                color: #626842;
                margin-top: 45px;

                @media (max-width:991px) {
                    margin-top: 30px;
                }
            }

            span {
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;
                color: #BA9659;
                text-transform: capitalize;
            }
        }

        .nav-btn-lt {
            position: absolute;
            bottom: 27%;
            left: 0;
            font-size: 40px;
            color: #626842;
            transform: rotate(180deg);
            cursor: pointer;
            transition: all .3s ease-in-out;

            @media (max-width:1399px) {}

            @media (max-width:991px) {
                display: none;
            }

            &:hover {
                color: $text-light-color;
            }

        }

        .nav-btn-rt {
            position: absolute;
            bottom: 25%;
            left: 5%;
            font-size: 40px;
            color: #626842;
            cursor: pointer;
            transition: all .3s ease-in-out;



            @media (max-width:991px) {
                display: none;
            }


            &:hover {
                color: $text-light-color;
            }
        }


        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            list-style-type: none;
            bottom: 0px;


            li {
                width: 10px;
                height: 10px;
            }

            button {
                display: block;
                padding: 0;
                border: none;
                border-radius: 100%;
                background-color: $text-light-color;
                text-indent: -9999px;
                width: 10px;
                height: 10px;
            }

            li.slick-active button {
                background-color: $theme-primary-color;
            }

        }

    }

    .image {
        height: 430px;
        width: 300px;
        position: absolute;
        left: 47%;
        top: 37%;
        transform: translate(-50%, -50%);

        @media (max-width:1399px) {
            left: 43%;
        }

        @media (max-width:1199px) {
            height: 400px;
            width: 250px;
        }

        @media (max-width:991px) {
            display: none;
        }

        &::before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 50px;
            height: 70px;
            background: $white;
            z-index: 1;
        }

        &::after {
            position: absolute;
            left: -50px;
            bottom: -140px;
            content: '';
            position: absolute;
            width: 100px;
            height: 210px;
            background: #F5F2EA;
            z-index: -1;
        }

        img {
            width: 100%;
        }
    }
}

/* 3.6 wpo-blog-section */

.wpo-blog-section {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .col {
        &:nth-child(2) {
            .blog-card {
                border-left: transparent;
                border-right: transparent;

                @media (max-width:991px) {
                    border-left: transparent;
                    border-right: 1px solid #F4E8DA;
                }

                @media (max-width:767px) {
                    border-left: 1px solid #F4E8DA;
                }
            }
        }
    }
}

.blog-card {
    border: 1px solid #F4E8DA;
    margin-bottom: 30px;

    .image {
        position: relative;
        z-index: 1;
        margin: 20px;
        margin-bottom: 0;

        span {
            background: $heading-color;
            color: $white;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-transform: capitalize;
            text-align: center;
            padding: 7px 17px;
            position: absolute;
            right: 0;
            top: 0;
        }

        img {
            width: 100%;
        }
    }

    .content {
        padding: 30px 40px;

        @media (max-width:767px) {
            padding: 30px 20px;
        }

        h2 {
            a {
                font-family: 'Cinzel';
                font-weight: 700;
                font-size: 22px;
                line-height: 38px;
                text-transform: uppercase;
                color: $heading-color;

            }
        }

        P {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #84857E;
            margin-bottom: 50px;
        }

        .theme-btn {
            background: #F5F2EA;
            color: $text-light-color;
            padding: 15px 40px;

            &:hover {
                background: transparent;
            }
        }
    }
}