 <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>about us</h2>
                            <ol>
                                <li><a href="index.html">Home</a></li>
                                <li>about</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end container -->
            <div class="left-img">
                <img src="assets/images/pagetitle.png" alt="">
            </div>
            <div class="right-img">
                <div class="shape-1">
                    <img src="assets/images/shape-1.png" alt="">
                </div>
                <div class="image">
                    <img src="assets/images/pagetitle-1.jpg" alt="">
                </div>
                <div class="shape-2">
                    <img src="assets/images/shape-2.png" alt="">
                </div>
            </div>
        </section>