<section class="wpo-about-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="about-left-wrap">
                            <div class="image-1">
                                <img src="assets/images/about-1.jpg" alt="">
                            </div>
                            <div class="image-2">
                                <img src="assets/images/about-2.jpg" alt="">
                            </div>
                            <div class="icon">
                                <img src="assets/images/about-icon.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="about-right-wrap">
                            <h2 class="title">about us</h2>
                            <p>
                               Our story at Mira Boite International Limited began in 2013, marking the start of a company dedicated to excellence and innovation. We started our journey in the manufacturing and sourcing business, focusing on creating high-quality lights specifically designed for jewelry displays. These lights were crafted to enhance the beauty and allure of each piece of jewelry, ensuring they were showcased in the best possible way.

                            </p>
                            <p>As the years went by, our expertise grew and our product range expanded. We ventured beyond lighting solutions and began offering comprehensive packaging and gifting solutions tailored for the jewelry industry. This expansion was driven by our unwavering commitment to quality and our desire to meet the evolving needs of our clients.

</p>
                            <p>
                               Our dedication to innovation has not only enabled us to grow but has also allowed us to serve clients worldwide. Today, we take pride in providing exceptional products that significantly enhance the presentation and appeal of jewelry collections globally. Our journey from a specialized lighting provider to a comprehensive solutions provider reflects our mission to support our clients in showcasing their exquisite jewelry in the most captivating way possible.

                            </p>
                            <div class="about-btn">
                                <a href="contact.html" class="theme-btn">contact us</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>