<section class="static-hero">
            <div class="hero-inner">
                <div class="container">
                    <div class="hero-content">
                        <h2 class="title">Elegant Jewellery Boxes & Corporate Gifts</h2>
                        <p>Crafted with Precision, Delivered with Care</p>
                        <a href="/about" class="theme-btn">About us</a>
                    </div>
                    <div class="hero-img">
                        <div class="image">
                            <img src="/assets/images/mira-box.png" alt="">
                        </div>
                        <!-- <div class="shape-box-on"></div>
                        <div class="shape-box-two"></div> -->
                    </div>
                </div>
            </div>
            <!-- <div class="sider-img-on">
                <img src="assets/images/slider/img-21.jpg" alt="">
            </div>
            <div class="sider-img-two">
                <img src="assets/images/slider/img-31.jpg" alt="">
            </div> -->
        </section>